.cardContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.cardInfo {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.items p {
  font-size: 1.5rem;
}

.imgContain {
  width:100%;
  height: 250px;
  overflow: hidden;
}
.imgItem {
  transform: scale(1);
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 1s ease;
}
.imgItem:hover {
  transform: scale(1.05);
}

h3,
p {
  font-size: 1.7rem;
}
